//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 12 19:31:38 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SW<1>" LOCATE = SITE "P142" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P136" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P130" LEVEL 1;
COMP "BELL" LOCATE = SITE "P89" LEVEL 1;
COMP "E" LOCATE = SITE "P124" LEVEL 1;
COMP "LED_N<0>" LOCATE = SITE "P63" LEVEL 1;
COMP "LED_N<1>" LOCATE = SITE "P64" LEVEL 1;
COMP "LED_N<2>" LOCATE = SITE "P98" LEVEL 1;
COMP "LED_N<3>" LOCATE = SITE "P62" LEVEL 1;
COMP "LED_N<4>" LOCATE = SITE "P50" LEVEL 1;
COMP "LED_N<5>" LOCATE = SITE "P40" LEVEL 1;
COMP "LED_N<6>" LOCATE = SITE "P48" LEVEL 1;
COMP "LED_N<7>" LOCATE = SITE "P49" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P148" LEVEL 1;
SCHEMATIC END;

