
# PlanAhead Generated physical constraints 

NET "LED_N[5]" LOC = P40;
NET "LED_N[4]" LOC = P50;
NET "LED_N[3]" LOC = P62;
NET "LED_N[2]" LOC = P98;
NET "LED_N[1]" LOC = P64;
NET "LED_N[0]" LOC = P63;
NET "SW[7]" LOC = P148;
NET "SW[6]" LOC = P142;
NET "SW[5]" LOC = P136;
NET "SW[4]" LOC = P130;
NET "SW[3]" LOC = P124;
NET "SW[2]" LOC = P118;
NET "SW[1]" LOC = P110;
NET "SW[0]" LOC = P43;
NET "BELL" LOC = P89;
